body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  img {
    display: grid;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
  }
  
  p {
    text-align: justify;
  }

  a {
    color: rgb(236, 109, 59);
    padding: 15px;
  }