body{
   background-color: rgb(255, 255, 255); /* Цвет фона */
}

.header, .menu{
    border: 2px solid black;/* Рамка вокург элемента */
    height: 120px;
    margin: 10px;
    padding: 10px;
}

.menu{
    height: 1000px;
}
.card{
    width: 30%;
    float:left;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    height: 555px;
}

.card, .header,.menu
{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.card img
{
    width: 100%;
}

#logo img
{
    display: block;
    margin: auto;
    width: 90px;
    transition: 0.3s; /* Задержка анимации - задержка применения указанных свойств */
}

#logo img:hover{ /* Эффект при наведении мыши */
    width:110px; 
    transition: 0.3s; /* Задержка анимации - задержка применения указанных свойств */
}

.card p,.card h1,.card h2{
    text-align: center;
}

.text h1
{
    text-align: center;
}

.card h1,.card h2{
    font-size: 21px;
}

.header-menu-left,.header-menu-right{
    list-style: none; /* Убрать точки и списка */
    position: absolute; /* Абсолютное позиционирование */

}

.header-menu-left{
    left: 600px;
    top: 50px;
}

.header-menu-right{
    top: 50px;
    right: 500px;
}

.header-menu-left li , .header-menu-right li
{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 20px; /* Отступ слева */
    font-size: 25px;
}

a{
    text-decoration: none; /* Убрать подчеркивание текста у ссылки*/
}

.header-menu-left li a
{
    background-color: orange;
    color: white;
    padding: 5px;
    box-shadow: 0 0 5px orange;
}

.header-menu-right li a{
    background-color: orangered;
    color: white;
    padding: 5px;
    box-shadow: 0 0 5px orangered;
}